name: CI
on: push

env:
  NODE_OPTIONS: --max_old_space_size=8192

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: '14'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm build:icons
      - run: pnpm chromatic --exit-once-uploaded --exit-zero-on-changes
        working-directory: storybook/
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          STORYBOOK_BUILD_TIMEOUT: 1200000 # 20 minutes
      - run: cat /home/runner/work/styled-icons/styled-icons/storybook/build-storybook.log || true
        if: always()

  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: '14'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm fmt:check
      - run: pnpm mrl check
