name: Release
on: push

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.repository == 'styled-icons/styled-icons'
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 6.10.0
      - uses: actions/setup-node@v3.5.0
        with:
          node-version: '14'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - uses: changesets/action@master
        with:
          publish: pnpm release
          version: pnpm changeset version
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          GITHUB_USERNAME: icon-bot
          GITHUB_EMAIL: ${{ secrets.BOT_GITHUB_EMAIL }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
